<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.dasarkode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.education.dasarkode.LayoutEditProfile"></activity>
        <activity android:name="com.education.dasarkode.MainLayoutStartKuis" />
        <activity android:name=".Profile" />
        <activity android:name="com.education.dasarkode.MainLogin">
            <intent-filter>
                <action android:name=".Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.education.dasarkode.UserInterface.Belajar.js.menuBelajarJs" />
        <activity android:name="com.education.dasarkode.UserInterface.Belajar.mysql.menuBelajarMysql" />
        <activity android:name="com.education.dasarkode.UserInterface.Belajar.python.menuBelajarPython" />
        <activity android:name="com.education.dasarkode.UserInterface.Belajar.cpp.menuBelajarCpp" />
        <activity android:name="com.education.dasarkode.UserInterface.Belajar.Java.menuBelajarJava" />
        <activity android:name="com.education.dasarkode.UserInterface.Belajar.Algoritma.menuBelajarAlgoritma" />
        <activity android:name="com.education.dasarkode.MainActivity" />
        <activity android:name="com.education.dasarkode.ScreenFlash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
